<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Login Junior Achivement</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text"  [value]="this.correo" class="form-control input-underline input-lg" id="correoInput" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" [value]="this.clave" class="form-control input-underline input-lg" id="claveInput" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()">Log In</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Registrarse</a>
            </form>
        </div>
    </div>
</div>
