<style>p.indent{padding-left : 1.8em}</style>
<table align="center">
    <h1 style="color: black;font-style:italic" align="center"><strong>Tips para Entrevistas</strong></h1>
    
    <h3><strong>Prepárate para las preguntas de la entrevista:</strong></h3>
    <p class="indent"> * Practica las respuestas de la entrevista con tus amistades o parientes, pero no intentes memorizarlas. Para lograr una entrevista exitosa, es fundamental actuar con naturalidad. </p>
    <p class="indent"> * Prepárate, ya que serás quien esté hablando la mayor parte del tiempo. El entrevistador querrá ver si sabes expresarte eficazmente, y cuan informada/o estás sobre la empresa/industria. </p>
    <p class="indent"> * Si has tomado un tiempo para pensar en cómo podrías generar valor, podrás contestar las preguntas sin problemas, mientras propones ejemplos relevantes dirigidos a sus necesidades específicas.</p>
    <h3><strong> Prepara tus referencias:</strong></h3>
    <p class="indent"> * Avisa con tiempo a tus referencias que vas a ir a una entrevista. Cuéntales de la empresa y del puesto al que estás postulando.</p>
    <h3><strong>Practica la presentación:</strong></h3>
    <p class="indent"> * Muchas veces la decisión de contratar se toma en los primeros 30 segundos. Da una buena primera impresión. Debes llegar un par de minutos antes, revisar tu apariencia y ser agradable en la recepción.</p>
    <h3>
      <strong>
          Actúa correctamente durante la entrevista:
      </strong>
    </h3>
    <p class="indent"> * Saber escuchar y tener confianza son aspectos claves para una entrevista exitosa. Los empleadores quieren verte entusiasta e informada/o sobre la compañía. También es una oportunidad para que evalúes a la compañía. ¿Quieres trabajar ahí? ¿Puedes contribuir, aprender nuevas habilidades o tener la oportunidad de avanzar? ¿Se te abrirán puertas con este puesto?</p>
    <h3>
      <strong>
          Cuida tu entrada:
      </strong>
    </h3>
    <p class="indent"> * Una sonrisa, un fuerte apretón de manos, una conducta confiada, amistosa y entusiasta, todo esto puede contribuir positivamente para generar una primera buena impresión de ti.</p>
    <h3>
      <strong>
          Cómo terminar la entrevista:
      </strong>
    </h3>
    <p class="indent"> * Realiza algunas de las preguntas que preparaste previamente.
        La última pregunta podría ser aquella sobre la fecha probable en la que tomarán una decisión.
        Agradece, vuelve a expresar tu interés por trabajar con ellos, y sal del lugar. En un momento apropiado, pídele a uno de los entrevistadores que te de una tarjeta de presentación. </p>

  </table>