
<h1>Universidad Tecnológica Nacional</h1>
<ul>
  <li><h2>Tecnología</h2></li>
  <li><br></li>
  <li><h5>Licenciatura en tecnología</h5></li>
  <li><p>El objetivo de la Licenciatura en Tecnología es formar profesionales encauzados y preparados para la solución de problemas de innovación tecnológica, con los criterios necesarios para impulsar el desarrollo sustentable de la tecnología, con una actitud eica y digna hacia el trabajo y hacia el ser humano.</p></li>
  <li><h5>Ingeniería en informática</h5></li>
  <li><p>La ingeniería informática o ingeniería en computación es la rama de la ingeniería que aplica los fundamentos de la ciencia de la computación, la ingeniería electrónica, la ingeniería de software y la ingeniería de telecomunicaciones, para el desarrollo de soluciones integrales de computo y comunicaciones, capaces de procesar información de manera automática.</p></li>
</ul>
<!--<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=z4Mdn4x1w74">
</iframe>-->

<hr>
<h1>Universidad de Buenos Aires</h1>
<ul>
  <li><h2>Economía</h2></li>
  <li><br></li>
  <li><h5>Licenciatura en economía</h5></li>
  <li><p>El licenciado en economía diseña e implementa políticas económicas, analiza el comportamiento de las variables macroeconomicas, evalúa y toma decisiones en los organos ejecutivos de gobierno en temas economicos, como la elaboración del presupuesto de gobierno, finanzas del Estado, análisis de cuentas nacionales, estadísticas básicas, comercio exterior y tarifas. Participa en el diseño y evaluación de proyectos de inversión, actúa como consultor y analista económico en organizaciones públicas y privadas.</p></li>
  <li><h5>Contador Público</h5></li>
  <li><p>El Contador Público asesora personas y empresas en las areas financiera, impositiva, contable, laboral, de costos y societaria. Diseña, interpreta e implementa sistemas de información contables, dentro de las organizaciones públicas y privadas para la toma de decisiones, sobre políticas de inversión, organización de recursos y análisis de los sistemas económicos.</p></li>
  <li><h2>Política</h2></li>
  <li><br></li>
  <li><h5>Licenciatura en ciencias políticas</h5></li>
  <li><p>Las Ciencias Políticas llevan un campo de saberes que se interrelacionan con otras áreas de lo social, como la historia, la sociología, la economía, la administración y la filosofía. A partir de estos amplios conocimientos, el Lic. en Ciencias Políticas tendrá herramientas para estudiar los procesos, instituciones e ideas políticas nacionales e internacionales, y luego diseñará políticas específicas según el lugar del ámbito público o privado donde se desempeñe.</p></li>
  <li><h5>Relaciones Internacionales</h5></li>
  <li><p>Relaciones Internacionales hace referencia a la disciplina academica que trata sobre el estudio de los asuntos extranjeros y de las grandes cuestiones del Sistema Internacional en materia política, económica, jurídica y diplomática: el papel de los Estados, el de las organizaciones internacionales, el de las organizaciones no gubernamentales (ONG), y el de las empresas multinacionales.</p></li>
  <li></li>
  <li></li>
  <li></li>
</ul>


<!--<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=lfqAdv8heH8">
</iframe>-->

<!--<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=K82vbyE_kZw">
</iframe>-->

<!--<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=vKdeZ7uX7Hc">
</iframe>-->

<hr>

<h1>Universidad Nacional de las Artes</h1>

<ul>
  <li><h2>Arte</h2></li>
  <li><br></li>
  <li><h5>Licenciatura en Arte</h5></li>
  <li><p>La carrera universitaria de Licenciatura en Artes forma en las diferentes expresiones artisticas (danza, teatro, música, escultura, pintura, etcétera) incluyendo en los programas de estudio asignaturas relacionadas a movimientos artísticos, contextos historicos y sociales, técnicas, creaciones, análisis crítico de las obras, entre otras.</p></li>
  <li><h5>Técnico en Árte y Gestion Cultural</h5></li>
  <li><p>El Técnico en Árte y Gestión Cultural es un técnico versatil, capacitado para ejercer variadas funciones relacionadas con la creación artística y la gestión cultural, en distintas instancias institucionales y circuitos de arte.</p></li>
</ul>

<!--<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=nWE7OMpuwPc">
</iframe>-->


