<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>Página principal</span>
        </a>
        <a [routerLink]="['/carreras']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-university"></i>&nbsp;
            <span>Info de carreras</span>
        </a>
        <a [routerLink]="['/tips']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>Tips para entrevistas</span>
        </a>
        <a href="https://www.elegircarrera.net/test-vocacional.aspx" [routerLinkActive]="['router-link-active']"
            class="list-group-item">
            <i class="fa fa-fw fa-bar-chart"></i>&nbsp;
            <span>Test vocacional</span>
        </a>
        <a [routerLink]="['/preguntas/publica']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-commenting"></i>&nbsp;
            <span>Preguntas públicas</span>
        </a>
        <a [routerLink]="['/chat/publica']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-comments"></i>&nbsp;
            <span>Chat público</span>
        </a>

        <ng-container *ngIf="menu">
                <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('pages')">
                    <i class="fa fa-user"></i>&nbsp;
                    <span>Contactar profesional</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'pages'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/preguntas/privada']" [routerLinkActive]="['router-link-active']"
                                class="list-group-item">
                                <i class="fa fa-fw fa-question"></i>&nbsp;
                                <span>Preguntar</span>
                            </a>
                        </li>
                        <ng-container *ngIf="chat">
                            <li>
                                <a [routerLink]="['/chat/privada']" [routerLinkActive]="['router-link-active']"
                                    class="list-group-item">
                                    <i class="fa fa-fw fa-wechat"></i>&nbsp;
                                    <span>Solicitar chat</span>
                                </a>
                            </li>
                        </ng-container>

                    </ul>
                </li>
            </div>
        </ng-container>
        <div class="header-fields">

            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> Perfil</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> Mensajes</span>
                            </a>
                        </li>

                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>Contraer Barra</span>
    </div>
</nav>